.ripple {
  background-color: white;
  border-radius: 50%;
  animation: rippleEffect 0.4s ease-in;
}
@keyframes rippleEffect {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
